@model jeverett.Models.Comment;



        <p class="navname">Welcome @ViewBag.LoggedIn.FName!</p>

        <a class="btn btn-primary btn-sm active" role="button" href='/logout'>Logout</a>



<div class="container inline-block holder">
    <div>
        <br>
        <partial name="CreateMessagePartial"></partial></partial>
        
    </div>
    <div class="container-fluid">
        @foreach (var m in ViewBag.Messages)
        {
            <div class="display">
            <h5>@m.Creator.FName - @m.CreatedAt</h5>
            <p>@m.Content</p>
            <p>Likes: @m.Likes.Count</p>
            @if (m.UserId == ViewBag.Id)
            {
                <a href="/destroym/@m.MessageId">Delete</a>
            }
            else
            {
                @if(m.Likes.Count == 0)
                {
                    <a class="like" href="/like/@m.MessageId">Like</a>
                }
                else
                {
                    bool y = false;
                    @foreach(var user in m.Likes)
                    {
                        @if(user.UserId == ViewBag.Id)
                        {
                            y = true;
                        }
                    }
                    @if(y == true)
                        {
                            <a class="unlike" href="/unlike/@m.MessageId">Unlike</a>
                        }
                        else
                        {
                            <a class="like" href="/like/@m.MessageId">Like</a>
                        }                   
                }
            }


            </div>
            
    <div class="container-fluid">

    @foreach (var c in m.Comments)
    { 
        <div class="container">
            <h6>@c.CommentCreator.FName - @c.UpdatedAt</h6>
            <p class="sp">@c.Content</p>
            @if (c.UserId == ViewBag.Id)
            {
                <a class="d inline-block" href="/destroyc/@c.CommentId">Delete</a>
            }
        </div>
    }
        <form action="/create_comment/@m.MessageId" method="POST">
            <label for="exampleFormControlTextarea1">Post a comment:</label>
            <textarea asp-for="Content" class="form-control" rows="2"></textarea>
            <input type="hidden" name="UserId" value="@ViewBag.LoggedIn.UserId">
            <br>
            <p class="text-right"><input type="submit" value="Post a comment" class="btn btn-primary"></p>
            <br>
        </form>
    </div>
    }  
</div>